.flex-footer {
  display: flex;
  flex-direction: column;
}

.footer-info > ul {
  padding-left: 0;
}

.footer-header {
  color: #fff;
}

.socialmediaicons > li {
  display: inline-block;
  padding-right: 30px;
}

@media (min-width: 576px) {
  .flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
