.flex-footer {
  display: flex;
  flex-direction: column;
}

.footer-info {
  margin-left: 15px;
}

.footer-info > ul {
  padding-left: 0;
}

.footer-header {
  color: #fff;
}

.socialmediaicons > li {
  display: inline-block;
  padding-right: 30px;
}

@media (min-width: 425px) {
  .flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .socialmediaicons > li {
    display: block;
  }
}

@media (min-width: 576px) {
  .socialmediaicons > li {
    display: inline-block;
  }
}
