.container {
    display: grid;
    grid-template-rows: 40px auto 150px; 
    grid-template-areas:
    "nav nav nav nav nav nav nav nav"
     "main main main main main main main main"
     "ft ft ft ft ft ft ft ft";
}

.nav {
    grid-area: nav;
}

.wrapper {
    grid-area: main;
}

.flex-footer{  
    grid-area: ft;
}

@media (min-width:1200px) {
    .wrapper {
        margin: 0 auto;
        width:  1200px;
    }
}