.container {
  display: grid;
  grid-template-rows: 60px auto auto auto;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav"
    "hero hero hero hero hero hero hero hero"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.nav-flex {
  grid-area: nav;
}

.hero {
  grid-area: hero;
}

.wrapper {
  grid-area: main;
  margin: 0 15px;
}

.flex-footer {
  grid-area: ft;
}

@media (min-width: 576px) {
  .container {
    grid-template-rows: 60px 300px auto 150px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    width: 1200px;
  }
}
