@media (min-width: 576px) {
  .title {
    width: calc(75% - 211px);
  }
}

@media (min-width: 768px) {
  .title {
    width: calc(82% - 229px);
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .title {
    width: calc(90% - 267px);
  }
}
